:root {
  --black: #000;
  --white: #fff;
  --light-grey: #e5e5e5;
  --orange: #fca311;
  --dark-blue: #14213d;
  --blue: #111b32;
  --text-size: 14px;
  --button-size: 18px;
  --nav-size: 16px;
  --header-size: 24px;
  --big-size: 34px;
  --small-redius: 10px;
  --big-redius: 20px;
  --border-input: 1px solid #b8b8b8;
  --font-primary: "Raleway", sans-serif;
  --font-secopnd: "Bebas Neue", cursive;
  --dark-blue: #14213d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  letter-spacing: 0px;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: var(--dark-blue);
  color: var(--white);
}
button {
  cursor: pointer;
  outline: none;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 110px;
  background-color: var(--orange);
  /* outline: 1px solid slategrey; */
}
section {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

/* NAVBAR */
header {
  display: flex;

  width: 90%;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  height: 10vh;
  flex: 1;
  z-index: 10000;
}
header h1 {
  /* flex: 1; */
  font-size: 16px;
}
nav ul {
  display: flex;
  flex: 1;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
nav ul a {
  font-size: 11px;
  font-family: "Raleway";
  font-weight: 700;
  color: var(--white);
  padding: 0.8rem;
  /* letter-spacing: 0.06em; */
  /* color: var(--black); */
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.4s all linear;
  letter-spacing: 2px;
  text-transform: capitalize;
}

nav ul a:hover {
  border-bottom: 1px solid var(--white);
}
.nav_buttons {
  /* flex: 1; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
#mobile_nav {
  display: none;
}
.open_nav,
.close_nav {
  display: none;
  cursor: pointer;
}
.nav_buttons button {
  cursor: pointer;
  font-weight: 700;
  font-family: "Raleway";
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 12px;
  border: none;
  color: var(--white);
}
.sign_upBtn {
  background-color: var(--orange);
  border-radius: 4px;
  padding: 1rem 2rem;
  color: var(--white);
  font-size: 11px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0px;
  width: 100%;
  text-align: center;
}
.loginBtn {
  background-color: transparent;
  /* border-radius: 4px; */
  border: none;

  padding: 1rem;
  color: var(--white);
  font-family: "Raleway";
  border-bottom: 2px solid transparent;
  transition: 0.4s all linear;

  font-size: 11px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0px;
}
.loginBtn:hover {
  border-bottom: 1px solid var(--white);
}
.user-box {
  cursor: pointer;
  width: 200px;
  /* border: var(--border-input); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  border-radius: var(--small-redius);
  padding: 0.4rem;
  background-color: var(--blue);
  position: relative;
  color: var(--white);
  border: 1px solid rgba(250, 250, 250, 0.7);
}
.user_img {
  border-radius: 100%;
  height: 100%;
  width: 35px;
}
.user-box span {
  font-size: 11px;
  font-family: "Raleway";
}
.arrow_down {
  width: 15px;
  height: 15px;
}
.settings {
  display: none;
  position: absolute;
  background-color: var(--blue);
  bottom: -150px;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: fit-content;
  width: 150%;
  border-radius: 10px;
  padding: 2rem;
  z-index: 1000;
}

.show {
  display: block;
}
.settings button {
  width: 100%;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: red;
  letter-spacing: 0;
  text-transform: uppercase;
}
.settings a {
  /* width: 100%; */
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: blue;
}
/* hero start */
main {
  min-height: 100vh;
}

button {
  border: none;
}
/* filters */
.course_filters {
  /* border: 1px red solid; */
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
  margin: 2rem auto;
}
.course_filters form {
  display: flex;

  /* border: 1px solid red; */
  gap: 2rem;
}
.course_filters form input {
  padding: 0.7rem;
  background-color: transparent;
  border: none;
  outline: none;
  letter-spacing: 0;
  width: 300px;
  border-bottom: 1px solid var(--light-grey);
  color: var(--white);
  font-family: "Raleway";
}
.course_filters select {
  font-family: "Raleway";
  font-size: 13px;
  /* background-color: red; */
  border: 1px solid var(--white);
  outline: none;
  color: var(--white);
  background-color: transparent;
  letter-spacing: 0;
  padding: 0 1rem;
  width: 50%;
}
.course_filters select option {
  color: var(--black);
  font-family: "Raleway";
}
.course_filters button {
  padding: 0 2rem;
  color: var(--white);
  border-radius: 0.2rem;
  background-color: var(--orange);
  font-family: "Raleway";
  letter-spacing: 0;
}
/* filters end*/

/* courses start */
.courses {
  padding: 1rem 0rem;
  width: 90%;
  margin: auto;
  text-align: center;
  position: relative;
  max-width: 1880px;
  /* border: 1px solid red; */
}
.save_btn {
  border: 1px solid white;
  width: fit-content;
  color: var(--orange);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-left: 0.5rem;
  background-color: var(--white);
}
.save_btn::before {
  width: 100%;
}
#errorDiv {
  background-color: red;
  position: absolute;
  top: 100px;
  right: 0%;
  color: var(--white);
  padding: 1rem;
  letter-spacing: 0;
}
.ctg {
  background-color: red;
  position: absolute;
  top: 7%;
  width: 200px;
  left: -23%;
  padding: 0.5rem;
  transform: rotate(-45deg);
}
.crs_ctg {
  font-weight: 700;
  color: var(--white);
}
.course_filters form {
  flex: 1;
}
.course_filters h1 {
  flex: 1;
}
.filters_title {
  /* border: 1px solid red; */
  padding: 1rem;
  text-align: start;
  font-size: 2rem;
}
.courses h2 {
  font-size: 43px;
  line-height: 52px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  opacity: 0.2;
}
.courses_flex {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  /* border: 1px solid yellow; */
}
.course {
  width: 250px;
  height: 350px;
  overflow: hidden;
  background: #111b32;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 1rem;
}
.course img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.course h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* margin: 1rem 0; */
}
.course p {
  font-family: "Raleway";
  font-size: 12px;
  padding: 0 1rem;
  line-height: 132.4%;
  letter-spacing: 0;
  opacity: 0.5;
}
.course a {
  background: #3742fa;
  font-family: "Raleway";
  width: 90%;
  padding: 0.8rem;
  margin: 0 auto;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--white);
}
.login_red {
  background-color: var(--orange) !important;
}
.login_red .more_courses_btn {
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--black);
  color: var(--black);
  font-family: "Bebas Neue";
  font-style: normal;
  /* font-weight: 400; */
  width: 245px;
  height: 54px;
  font-size: 22px;
  line-height: 100%;
  border-radius: 3px;
  margin-top: 2rem;
}
/* courses end */

/* footer start  */
footer {
  background-color: var(--black);
  max-width: 100vw;
  /* display: flex;
    justify-content: center;
    align-items: start; */
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
.footer {
  text-align: start;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
  max-width: 1880px;
}
.footer article {
  /* flex: 1 */
  min-height: 190px;
}
.footer h1 {
  margin-bottom: 1rem;
}
.footer p {
  opacity: 0.6;
}
.footer ul {
  margin-top: 1rem;

  gap: 0.5rem;
}
.social_media_part {
  text-align: center;
}
.social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  /* gap: 9rem; */
  height: 100%;
}
.social_media i {
  font-size: 2rem;
}
.social_media li {
  margin: 0rem 3rem;
}
.footer li {
  margin: 0.4rem 0;
}
.footer ul li:hover a {
  opacity: 1;
}
.footer ul a {
  color: var(--white);
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.085em;

  color: #ffffff;

  opacity: 0.4;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.copy_right {
  opacity: 0.6;
  font-size: 0.7rem;
}

/* footer end */
.Roadmap_section {
  /* border: 1px solid red; */
  text-align: center;
}
.Roadmap_section h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(#e5ccef, #ab5af7);
  -webkit-background-clip: text;
  margin: 1rem 0;
  -webkit-text-fill-color: transparent;
}
.Roadmap_section p {
  font-size: 1.6rem;
  opacity: 0.6;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.roads {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: start;
}
.road {
  width: 35%;
  color: var(--white);
  height: 100px;
  min-width: 400px;
  /* border: 1px solid red; */
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(to right, #111829, #76340f);
}
.road:hover {
  background: linear-gradient(to right, #111829, #111829);
}
.road P {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.back_to_roads {
  height: fit-content;
  padding: 1rem;
  color: var(--white);
  background: linear-gradient(to right, #111829, #76340f);
}
.Roadmap_section img {
  width: 100%;
  height: 100%;
  display: block;
}

/* Media  */
@media (max-width: 1164px) {
  .hero_section h1 {
    font-size: 50px;
  }
}
@media (max-width: 964px) {
  .nav_buttons button {
    font-size: 0.6rem;
  }
  header {
    padding: 1rem;
  }
  nav ul a {
    font-size: 0.6rem;
  }
  nav h1 {
    flex: 0;
  }

  .courses_flex {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
/* media end */
@media (max-width: 747px) {
  header h1 {
    flex: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .open_nav {
    display: block;
  }
  #desktop_nav {
    display: none;
  }
  #mobile_nav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    text-align: start;
    top: 0;
    right: 0;
    z-index: 1000;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    overflow-x: hidden;
  }

  nav ul {
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    height: 90%;
    padding-bottom: 10rem;
    /* flex: 1; */
  }
  nav ul a {
    color: var(--white);
    font-size: 42px;
    border: none;
    width: 100vw;
  }
  nav ul a:hover {
    border: none;
    background-color: red;
  }
  .nav_buttons {
    /* flex: 0.1; */
    /* padding: 2rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav_buttons button {
    border: 1px solid var(--white);
    font-size: 0.6rem;
    padding: 1rem;
  }
  .nav_buttons button:hover {
    border: 1px solid var(--white);
  }
  .close_nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.6rem;
    border: none;
    color: var(--white);
    background-color: red;
  }

  .courses_flex {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .social_media_part {
    width: 100%;
    text-align: center;
  }
  .course_filters form {
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .course_filters form input {
    width: 100%;
  }
  .course_filters select {
    padding: 0.7rem;
  }
  .Roadmap_section h1 {
    font-size: 30px;
  }
  .Roadmap_section p {
    font-size: 1rem;
    opacity: 0.6;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }
}

@media (max-width: 375px) {
  .about_outline_circle {
    bottom: -6%;
  }
}
